<template>
  <p>
    {{ globalStore.state.memory }}
  </p>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import globalStore from "../store/global";

export default defineComponent({
  name: "Result",
  setup: () => {
    return { globalStore };
  },
});
</script>
